.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}


.popup-box  {
  position: relative; 
  width: 380px;
  padding: 35px 30px;
  border-radius: 16px;
  background: linear-gradient(to right, rgb(20, 20, 27), rgb(45, 6, 136));
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
}
/* .popup-box {
  background: #0b1220;
  padding: 30px;
  border-radius: 14px;
  width: 100%;
  max-width: 400px;
  color: #fff;
  position: relative;
} */

.popup-box h4 {
  margin-bottom: 20px;
}

.popup-box input,
.popup-box textarea {
  width: 100%;
  margin-bottom: 14px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

/* .popup-box button {
  width: 100%;
  padding: 10px;
  background: #4da3ff;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
} */

.close-btn {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 22px;
  cursor: pointer;
}



.popup-box button{
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(to right, rgb(0, 102, 255), rgb(137, 109, 202));
  transition: all 0.3s ease;
}



